{% extends 'base.html' %}
{% block title %}Add book{% endblock %}
{% block content %}

<h1>Add a Book</h1>
<form method="post" action="{% url 'add_book' %}">
    {% csrf_token %}
    {{ form.title.label_tag }} {{ form.title }}<br>
    {{ form.author.label_tag }} {{ form.author }}<br>

    <button type="submit">Add Book</button>
</form>
<br>
<!-- Add the button for deleting all books -->
<form method="POST" action="{% url 'delete_all_books' %}">
    {% csrf_token %}
    <button type="submit"
            onclick="return confirm('Are you sure you want to delete all books?');"
            style="background-color: red; color: white;">Delete All Books
    </button>

</form>

<br>
<!-- Add a search form -->
<form method="get" action="{% url 'search_view' model='book' %}">
    <label for="search_query">Search:</label>
    <input type="text" name="query" id="search_query">
    <button type="submit">Search</button>
</form>

<a href="{% url 'book_list' %}">Back to Book List</a>
{% endblock %}

