{% extends 'base.html' %}
{% block title %}Add book{% endblock %}

{% block content %}

<h1>{{mode}} a Book</h1>
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}

    <button type="submit" value="save">{{mode}} Book</button>
</form>
<br>
<!-- Add the button for deleting all books -->


<br>
<!-- Add a search form -->
<form method="GET" action="{% url 'search_view' model='book' app='myapp' %}">
    <label for="search_query">Search:</label>
    <input type="text" name="query" id="search_query">
    <button type="submit">Search books</button>
</form>

<br>

<form method="GET" action="{% url 'search_view' model='author' app='authors'  %}">
    <input type="text" name="query" id="search_query2">
    <button type="submit">Search authors</button>
</form>


<a href="{% url 'myapp:book_list' %}">Back to Book List</a>
{% endblock %}

